{% extends 'base.html' %}

{% block content %}
<section class="page-section about-contact">
    <img src="{{ url_for('static', filename='Images/ME2.png') }}" alt="Norrapat" class="about-image">
    <div class="contact-info">
        {% if lang == 'th' %}
        <h1>ช่องทางติดต่อ</h1>
        <p>ผมชื่อ นรภัทร ทะภูมินทร์</p>
        <p>โทร. 0622976448</p>
        <p>อีเมล Narrapuchzaza@gmail.com</p>
        <a href="https://github.com/bu-norrapat" target="_blank" rel="noopener noreferrer" class="button">GitHub</a>
        {% else %}
        <h1>Contact Me</h1>
        <p>I am Norrapat Taphumin</p>
        <p>Tel. 0622976448</p>
        <p>Email Narrapuchzaza@gmail.com</p>
        <a href="https://github.com/bu-norrapat" target="_blank" rel="noopener noreferrer" class="button">GitHub</a>
        {% endif %}
    </div>
</section>
{% endblock %}
